@{
    ViewBag.Title = "宠物详情";
    Layout = "~/Views/Shared/_Form.cshtml";
}
@using HZSoft.Application.Entity.CustomerManage;
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name='apple-touch-fullscreen' content='yes' />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no" />
    <link href="~/Content/Styles/stylelist.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/scripts/jquery/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script>
        var objectSort = 6;
        var keyValue = request('keyValue');
        $(function () {
            GetTimeline();
        })
        //获取跟进记录列表
        function GetTimeline() {
            $.ajax({
                url: "../../PetManage/TrailRecord/GetListJson",
                data: { objectId: keyValue },
                type: "get",
                dataType: "json",
                async: false,
                success: function (data) {
                    var timeline = data.timeline;
                    var rows = data.rows;
                    var _html = "";
                    $.each(timeline, function (key) {
                        _html += '<li> ';
                        _html += '    <span class="label label-warning"><i class="fa fa-circle"></i>' + key + '</span> ';
                        _html += '    <div class="content"> ';
                        $.each(rows, function (i) {
                            var row = rows[i];
                            if (timeline[key] == formatDate(row.CreateDate, 'yyyy-MM-dd')) {
                                _html += '        <div class="row"> ';
                                _html += '            <span class="item-flag"><i class="fa fa-file-text-o"></i></span> ';
                                _html += '            <div class="item-data"> ';
                                _html += '                <span class="time">' + formatDate(row.CreateDate, 'hh:mm') + '</span> ';
                                _html += '                <span class="name">' + row.CreateUserName + '<i class="fa fa-caret-right"></i></span> ';
                                _html += '                <span class="action">' + row.TrackContent + '</span> ';
                                _html += '            </div> ';
                                _html += '        </div> ';
                            }
                        });
                        _html += '    </div> ';
                        _html += '</li> ';

                    });
                    $("#ul_timeline").html(_html);
                }
            });
        }
        //保存表单
        function AcceptClick() {
            var postData = {};
            postData["ObjectId"] = keyValue;
            postData["ObjectSort"] = objectSort;
            postData["TrackContent"] = $("#TrackContent").val();

            $.ajax({
                url: "../../PetManage/TrailRecord/SaveForm",
                type: "POST",
                data: postData,
                success: function (responseText) {
                    GetTimeline();
                    $("#TrackContent").val('');
                },
                error: function () {

                }
            });
        }
    </script>
</head>

<body>
    @{
        PetEntity petModel = ViewBag.model;
        if (petModel != null)
        {
        <header class="bg03" style="position: none; opacity: 1; z-index: 999;">
            <h3 style="position: absolute;  text-align: left; line-height:0.85rem;color:white;width: 90%;" onclick="window.history.back(-1);">
                <img src="/Content/images/btn_return.png" style="height: 30px; margin-bottom: 5px;" />
            </h3>@Html.Raw(petModel.Name)
            <a href="CompanyForm?keyValue=@petModel.Id" class="icon_map fr"><img class="fl" src="../../../../Content/Images/bianji.png" style="" /> </a>
        </header>
        <div id="slide" class="slide" style="height: 5rem">
            <div class="swiper-wrapper" style="height: 5rem">
                <div class="swiper-slide" style="height: 5rem; width: 100%;text-align:center">
                    <a href="@petModel.Photo" style="display: block; width: 100%;">
                        <img src="@petModel.Photo" style="height:5rem" />
                    </a>
                </div>
            </div>
            <div class="pagination">
            </div>
        </div>
        <div class="jyfw" style="margin-top: 0.2rem; padding: 1% 4%; background: #fff;
            line-height: 150%; display: flex;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="width: 95%;">
                @if (!string.IsNullOrEmpty(petModel.Name))
                {
                    <tr>
                        <td colspan="2">
                            <font style="font-size: 14px;font-weight: bold;">@Html.Raw(petModel.Name)</font>
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="2">
                        <font style="color: #9a9a9a">品种：</font>@Html.Raw(petModel.SubClassName)
                    </td>
                </tr>
                @if (!string.IsNullOrEmpty(petModel.MasterName))
                {
                    <tr>
                        <td colspan="2">
                            <font style="color: #9a9a9a">主人：</font>@Html.Raw(petModel.MasterName)
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(petModel.Birthday.ToString()))
                {
                    <tr>
                        <td colspan="2">
                            <font style="color: #9a9a9a">生日：</font>@Html.Raw(petModel.Birthday).ToString().Replace(" 0:00:00", "")
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(petModel.HomeDate.ToString()))
                {
                    <tr>
                        <td colspan="2">
                            <font style="color: #9a9a9a">到家时间：</font>@Html.Raw(petModel.HomeDate).ToString().Replace(" 0:00:00", "")
                        </td>
                    </tr>
                }
            </table>
        </div>
                                    }
                                }
    <div style="margin: 10px; margin-bottom: 0px;">
        <table class="form">
            <tr>
                <td class="formValue">
                    <textarea id="TrackContent" maxlength="200" placeholder="活动记录内容" class="form-control" isvalid="yes" checkexpession="NotNull" style="height: 60px; border-radius: 5px;"></textarea>
                </td>
            </tr>
            <tr>
                <td class="formValue" style="text-align: right;">
                    <a id="btn_Search" class="btn btn-success" onclick="AcceptClick()"><i class="fa fa-paper-plane"></i>&nbsp;跟进记录</a>
                </td>
            </tr>
        </table>
        <div style="overflow: auto; height: 380px">
            <div class="timeline">
                <div class="line"></div>
                <ul id="ul_timeline"></ul>
            </div>
        </div>
    </div>

</body>
</html>
